.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	padding: 0 50px;
}

.specials__items .slick-track{
	display: flex;
	padding: 0 40%;
}

@media (max-width: 1200px) { 
	.specials__items .slick-track{
		padding: 0 37%;
	}
}

@media (max-width: 992px) { 
	.specials__items .slick-track{
		padding: 0 9%;
	}
}

@media (max-width: 767px) { 
	.specials__items .slick-track{
		padding: 0 25%;
	}
}

@media (max-width: 500px) { 
	.specials__items .slick-track{
		padding: 0 20%;
	}
}

@media (max-width: 420px) { 
	.specials__items .slick-track{
		padding: 0 15%;
	}
}

@media (max-width: 360px) { 
	.specials__items .slick-track{
		padding: 0 13%;
	}
}

.specials__items {
	position: relative;
}

.specials__items .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -31px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
}

.specials__items .slick-arrow.slick-prev{
	left: 0;
	background: url('../src/slider_specialties/arrow_left.svg') 0 0 / 100% no-repeat;
}

.specials__items .slick-arrow.slick-next{
	right: 0;
	background: url('../src/slider_specialties/arrow_right.svg') 0 0 / 100% no-repeat;
}